@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: palevioletred;
    color: rgb(0, 0, 0);
    font-family: "Roboto Condensed", sans-serif;  
}

.cabecalho{
background-color: #000000;
text-align: center;
}