@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: palevioletred;
    color: rgb(224, 9, 120);
    font-family: "Roboto Condensed", sans-serif;  
}